.blank {
    background-color: white;
    border-radius: 8px;
}

.mg-2 {
    margin: 20px;
}

.pg-5 {
    padding: 50px;
}

.alignment-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mr-1 {
    margin-right: 10px;
}